@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: Outfit;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* globals.css or similar */
html,
body {
  @apply bg-white dark:bg-gray-900;
}

