@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ovo&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: Outfit;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* globals.css or similar */
html,
body {
  overflow-x:hidden;
  width: 100%;
  @apply bg-white dark:bg-gray-900;
}


a.active hr{
  display: block;
}

.clip-hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}