@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ovo&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: Outfit;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* globals.css or similar */
html,
body {
  @apply bg-white dark:bg-gray-900;
}

